<div class="container" id="list-container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="/images/elevator-man.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      I can haz metro elevator?
    </a>
  </nav>

  <div class="jumbotron">
    <h1 class="display-4">Pick your station</h1>
    <p class="lead">Choose from the list of stations below.</p>
    <hr class="my-4">
    <p>All the metro stations in the world can be found here!</p>
    <p class="lead">
      <select class="form-control form-control-lg">
        <option>Large select</option>

      </select>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
</div>
